<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Current Active Sessions: <%= activeSessions.length %><br>
  <p>Current Active Sessions: 1 <%= (activeSessions.x6w5686kvv4saqCNagtMzVtCY4sBLmQp.passport) %><br>
  SessionID: <%= session.id  %> <br>
  UserID: <%= user.id %> <br>
  <a href="">Revoke Session</a></p>